.container {
    text-align: cenrter;
}

.mdl-radio__label {
    margin-left: -13px;
    margin-top: 25px;
    font-size: 70px;
    font-weight: 300;
}


.mdl-radio {
    padding-bottom: 50px;
    padding-right: 20px;
}