body{
    overflow: hidden;
    background-color: rgb(24, 24, 24);
    padding-top: 60px;
}

html {
    background-color: rgb(24, 24, 24);
}

.show {
    display: block;
    background-color: rgb(24, 24, 24);
    color: white;
    color: rgb(223, 223, 223);
}

#page-elements {
    padding-top: 20px;
    color: rgb(223, 223, 223);
}

.hidden {
    display: none;
    background-color: rgb(24, 24, 24);

}

.welcome-center {
    text-align: center;
}

#page-elements {
    position: relative;
    top: 0;
    left: 0;
    color:white;
}

h1 {
    text-align: center;
    width: 100vw;
    color: rgb(223, 223, 223);
}

iframe {
    margin-top: 12vh;
    position: absolute;
    margin-left: 35vw;
    width: 30%;
}

.header {
    position: fixed;
    top: 0;
    padding-top: 4px;
    background-color: rgb(221, 221, 221);
    width: 100vw;
    height: 80px;
    text-align: left;
    padding-left: 25%;
    left: 0;
    z-index: 50;
    transition: top 500ms;

}

#title {
    font-size: 32px;
    font-family: 'Raleway', sans-serif !important;
    color: #4dc6fe;
}
#restart {
    position: fixed;
    width: 200px;
    height: 50px;
    font-size: 18px;
    background-color: #cccecf;
    border: 0px;
    border-radius: 30px;
    transform: translateX(-75px);
    transition: background-color 200ms;
    bottom: 75px;
    font-weight: 700;
    background-color: rgb(48, 146, 48);
    font-family: 'Raleway', sans-serif !important;

}

#restart:hover {
    background-color: rgb(50, 158, 50);
}

#restart:active, #restart:focus {
    outline: none;
    border: none;
}

#logo {
    position: fixed;
    z-index: 100;
    padding-left: 15vw;
    padding-top: 14px;
    top: 0px;
    left: 0px;
    transform: scale(1.5, 1.5);
}

#logo img {
    height: 45px;
    width: 45px;
}

#loading {
    font-size: 50px;
    color: rgb(50, 158, 50);
    width: 100vw;
    height: 100vw;
    text-align: center;
    padding-top: 35vh;
}

#loading i {
    animation-name: loading;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

#loading-p {
    margin-top: 10px;
    font-size: 14px;
    color: rgb(223, 223, 223);
}

@keyframes loading {
    0% {transform: rotate(0deg);}
    40% {transform: rotate(180deg); color: #4dc6fe;}
    50% {transform: rotate(180deg); color: #4dc6fe;}
    90% {transform: rotate(360deg); color: rgb(50, 158, 50);}
    100% {transform: rotate(360deg); color: rgb(50, 158, 50);}
}

@media (max-width: 762px) {
    iframe {
        margin-top: 150px;
        transform: scale(1.5, 1.5);
        width: 65%;
        margin-left: 17.5vw;

    }

    .header {
        text-align: center;
        padding-left: 0;
    }
    #restart {
        width: 95vw;
        height: 85px;
        transform: translateX(-47.5vw);
        border-radius: 60px;
        bottom: 7px;
    }
}