.container {
    text-align: cenrter;
}

.mdl-radio__label {
    margin-left: -18px;
    margin-top: 25px;
    font-size: 70px;
    font-weight: 300;
}


.mdl-radio {
    padding-bottom: 50px;
    padding-right: 20px;
}

.material-icons {
    color: black;
    transition: color 200ms;
}

.main-card.mdl-card {
    width: 500px;
    text-align: center;
    margin: 10vh auto 0 auto;
    height: 650px;
}

.main-card input {
    margin-top: 30px;
}


.main-card > .mdl-card__title {
    height: 176px;
    background: linear-gradient(rgb(255, 54, 54), rgb(255, 84, 84));
}

.wide-button.mdl-button {
    width: 100%;
    margin-left: -150px;
    margin-bottom: -70px;
}

ul {
    list-style: none;
    margin-left: -35px;
}
