html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: "proxima-nova" ,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* WELCOME PAGE */

#welcome {
    padding-top: 8vh;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 15;
    background-color: rgb(238, 238, 238);
    transition: margin-left 1000ms;
    transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
    box-shadow: 10px 20px 40px rgba(0, 0, 0, 0.3);
    overflow: scroll;
    font-family: "proxima-nova" ,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

#begin {
    background-color: #4d90fe;
    color: white;
    position: absolute;
    bottom: 110px;
    width: 200px;
    height: 45px;
    left: 50%;
    transform: translateX(-100px);
}

.header {
    position: fixed;
    top: 0;
    padding-top: 7.5px;
    background-color: rgb(221, 221, 221);
    width: 100vw;
    height: 80px;
    text-align: left;
    padding-left: 25%;
    left: 0;
    z-index: 50;
    transition: top 500ms;
}

#title {
    text-shadow: 5px 1px 3px rgba(29,185,84,1);
    font-weight: normal;
    font-style: oblique;
    font-variant: small-caps;
    color: #191414;
    letter-spacing: -1pt;
    word-spacing: -20pt;
    font-size: 68px;
    text-align: left;
    font-family: arial black, sans-serif;
    line-height: 2;
    margin-top: -40px;
}

#logo {
    position: fixed;
    z-index: 100;
    top: 0px;
    left: 0px;
    transition: transform 1000ms, padding-left 1000ms, padding-top 1000ms;
}

.logo-active {
    padding-left: 15vw;
    padding-top: 14px;
    transform: scale(1.5, 1.5);
}

#logo img {
    height: 45px;
    width: 45px;
}

.feature {
    background-color: rgb(245, 245, 245);
    box-shadow: 0px 5px 5px 1px rgb(207, 207, 207);
    border-radius: 2px;
}

#description-wrapper {
    margin: 0 -20px 0 -20px;
    width: 110vw;
}

#desrciption {
    font-size: 18px;
    width: 70vw;
    margin-left: 15%;
    padding-top: 30px;
    padding-bottom: 40px;
    height: 350px;
}

#feature-maps {
    display: inline-block;
    width: 375px;
    height: 375px;
}

#feature-spotify {
    display: inline-block;
    width: 375px;
    height: 375px;
}

.feature-description {
    border-top: 2px solid rgb(189, 189, 189);
    width: 80%;
    margin-left: 10%;
    font-size: 22px;
    color: rgb(99, 99, 99);
    padding-top: 15px;
}

#spotify-logo {
    margin-top: 30px;
    width: 160px;
    height: 155px;
    padding-bottom: 40px;

}

#maps-logo {
    margin-top: 15px;
    width: 170px;
    height: 170px;
    padding-bottom: 20px;
}

.welcome-center {
    text-align: center;
}

/* MAPS PAGE */

#map {
    height: 100vh;
    width: 100vw !important;
    transition: margin-left 1000ms, box-shadow 2000ms;
    transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}

/* Background for the controls on Maps page */
#search-form {
    position: absolute;
    height: 450px;
    background-color: gray;
    width: 400px;
    z-index: 10;
    margin-top: 30vh;
    margin-left: 50px;
    padding-top: 80px;
    padding-right: 40px;
    background-color: rgba(77, 144, 254, 0.096);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}
.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

#origin-input,
#destination-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 100%;
    margin-bottom: 20px;
}

#origin-input:focus,
#destination-input:focus {
    border-color: #4d90fe;
}

#mode-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
    margin-bottom: 20px;
}

#mode-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300; 
}

#control-panel {
    margin-left: 0;
    width: 200px;
    background: lightgreen;
    transition: margin-left 2000ms;
    transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}

ul {
    text-align: center;
    list-style: none;
}

#onto-next {
    margin-top: 50px;
    width: 50%;
    background-color: #4d90fe;
    color: white;
    box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.3);
}

/* MUSIC PAGE */

#music {
    padding-top: 25vh;

    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -10;
    background-color: black;
    color: white;
    top: 0;
    left: 0;
}

.music-search {
    height: 50px;
    font-weight: 700;
    width: 120px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: rgb(48, 146, 48);
    color: white;
    border: none;
    padding: 0;
    padding-left: -5px;
    margin-left: -3px;
    cursor: pointer;
    transition: background-color 200ms;
}

#music-header h1 {
    font-size: 40px;
}
#music-header p {
    font-size: 18px;
}

.btn-full {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    display: block;
    margin-left: 50%;
    transform: translateX(-60px) scale(0.8, 0.8);
    margin-top: 10px;
}

.spotify-input {
    width: 500px;
    height: 50px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding-left: 30px;
    border: none;
    color: white;
    background-color: rgb(32, 32, 32);
    transition: background-color 200ms;
}

.input-full {
    width: 250px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    transform: scale(0.8, 0.8);
    font-size: 1.2em;
    text-align: center;
    padding-left: 0;
    margin-left: -8px;
}

.spotify-input:focus, .spotify-input:hover {
    outline: none;
    background-color: rgb(39, 39, 39);
}

.music-search:focus, .music-search:hover {
    outline: none;
    background-color: rgb(55, 167, 55);
}

#playlist-name {
    display: none;
    opacity: 0;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.24);
    width: 100vw;
    height: 100vh;
    z-index: 250;
    transition: opacity 200ms;
}

#playlist-name-close {
    margin-top: -10px;
    color: rgb(70, 70, 70);
    background-color: rgba(39, 39, 39, 0);
}

#playlist-name-close:hover {
    text-decoration: underline;
}

#playlist-name-box {
    border: 1px solid rgb(32, 32, 32);
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
    height: 200px;
    width: 275px;
    margin: 40vh auto;
    padding: 40px 20px 40px 20px;
    box-shadow: 0px 5px 15px 1px rgb(36, 36, 36);
}

/* NAVBAR */

#navbar {
    z-index: 20;
    background-color: rgba(77, 144, 254, 0.2);
    width: 250px;
    height: 60px;
    position: fixed;
    bottom: 25px;
    left: 50%;
    transform: translateX(-125px);
    border-radius: 2px;
}

.navitem {
    font-size: 24px;
    padding: 10px 20px 10px 20px;
    display: inline-block;
    transition: color 200ms, background-color 200ms;
    cursor: pointer;
    height: 100%;
    background-color: rgba(77, 145, 254, 0);
}

.navitem:hover {
    background-color: rgba(134, 181, 255, 0.1);
}

#selector-ul {
    height: 5px; 
    position: absolute;
    bottom: 0;
    left: 33px;
    background-color: #4d90fe;
    width: 55px;
    transition: left 300ms;
}

.nav-selected {
    color: #4d90fe !important;
}

.onmusic {
    color: white;
}

.onmusic:hover {
    color: #b6d2ff;
}

@media (min-width: 1024px) {
    #feature-maps {
        margin-right: 10%;
    }
    #description {
        font-weight: 500;
        font-size: 30px;
    }
}

@media (max-width: 1024px) {
    #description {
        padding-bottom: 100px;
    }

    #description-wrapper {
        margin-top: 80px;
    }
}

@media (max-width: 762px) {
    #navbar {
        width: 100vw;
        left: 0;
        transform: none;
        height: 90px;
        bottom: 0;
    }

    .navitem {
        font-size: 40px;
        padding: 10px 40px 10px 40px;
    }
    #selector-ul {
        display: none;
        transform: translateX(153px);
    }

    #description-wrapper {
        margin-top: 180px;
        padding-bottom: 180px;
    }

    #begin {
        transform: scale(1.75, 1.75) translateX(-58px);
        box-shadow: 0px 5px 5px 1px rgba(1, 1, 1, 0.274);
        margin-bottom: 15px;
        position: fixed;
        transition: opacity 500ms;
    }

    #search-form {
        height: 62vh;
        width: 100vw;
        z-index: 10;
        margin-top: 30vh;
        margin-left: 0;
        padding-right: 40px;
        background-color: rgba(77, 144, 254, 0.096);
        box-shadow: none;
    }
    .logo-active {
        padding-left: 10vw;
    }

    #origin-input,
    #destination-input {
        font-size: 19px;
        height: 70px;
        font-weight: 300;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 100%;
        margin-bottom: 20px;
    }

    #mode-selector {
        color: #fff;
        background-color: #4d90fe;
        margin-bottom: 20px;
        height: 70px;
        font-size: 19px;
    }

    #mode-selector label {
        margin-top: 23px;
        font-size: 19px;
        padding: 15px 11px 15px 11px;
    }
    #mode-selector input {
        margin-top: 20px;
        transform: scale(1.75, 1.75);
    }

    #onto-next {
        transform: scale(1.75, 1.75);
    }

    .spotify-input {
        width: 200px;
        height: 50px;
        font-size: 18px;
    }

    #playlist-name-box {
        transform: scale(1.45, 1.45);
    }
    
}

@media (max-width: 600px) {
    #description-wrapper {
        margin-top: 240px;
    }
}

@media (max-width: 525px) {
    #description-wrapper {
        margin-top: 300px;
    }
}

@media (max-width: 475px) {
    #description-wrapper {
        margin-top: 375px;
    }
}

@media (max-width: 425px) {
    #description-wrapper {
        margin-top: 420px;
    }
}